<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesWeb.styles.css" asp-append-version="true" />
    <!-- Include SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <style>
     
    </style>
</head>
<body>
    <header>
        <div class="banner baner">
            <div class="banner-text baner-text">
                <h1>MoviesWeb</h1>
                <p>Your Ultimate Movie Destination</p>
            </div>
            <nav class="navbar navv navbar-expand-lg justify-content-between align-items-center text-light">
                <a class="navbar-brand brandd" href="@Url.Action("Index", "Home")">MoviesWeb</a>
                <div class="d-flex align-items-center">
                    <a class="nav-link linkk" href="@Url.Action("Login", "User")">Login</a>
                    <a class="nav-link linkk" id="logout-button" href="@Url.Action("LogoutUser", "User")">Logout</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top foter text-muted">
        <div class="container">
            &copy; 2024 - MoviesWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutButton = document.getElementById('logout-button');

            if (logoutButton) {
                logoutButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    Swal.fire({
                        title: "Are you sure?",
                        icon: "warning",
                        showCancelButton: true,
                        cancelButtonText: "No",
                        confirmButtonText: "Yes"
                    }).then(function (result) {
                        if (result.isConfirmed) {
                            window.location.href = logoutButton.getAttribute('href');
                        }
                    });
                });
            }
        });
    </script>
</body>
</html>

